@font-face {
	font-family: Comfortaa-Bold;
	src: url('fonts/Comfortaa/Comfortaa-Bold.ttf');
}
@font-face {
	font-family: Comfortaa-Regular;
	src: url('fonts/Comfortaa/Comfortaa-Regular.ttf');
}
@font-face {
	font-family: Lato-Regular;
	src: url('fonts/Lato/Lato-Regular.ttf');
}
@font-face {
	font-family: Lato-Bold;
	src: url('fonts/Lato/Lato-Bold.ttf');
}



*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Comfortaa-Regular', sans-serif;
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
h2, .page_title{
	font-size: 40px;
}
h1, h2, h3{
	font-family: 'Comfortaa-Bold';
}
section{
	margin-top: 100px;
}

.container{
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px 0 15px;
}
.text_center{
	text-align: center;
}
.link_active{
	color: #F6C5CD !important;
	border-bottom: 1px solid #F6C5CD;
}

/*Шапка сайта*/
.header{
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header a{
	color: #000;
}
.logo{
	align-items: center;
	display: flex;
}
.logo_title{
	display: block;
	margin-left: 10px;
	width: 154px;
	font-size: 12px;
}
.nav ul{
	display: flex;
}
.nav ul li{
	margin-left: 40px;
	font-size: 16px;
}
.nav a:hover{
	color: #F6C5CD;
	border-bottom: 1px solid #F6C5CD;
}



/*Главный экран*/

.main_screen{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.main_screen_left{
	width: 45%;
}
.main_screen_right{
	width: 45%;
}
.main_title{
	font-size: 64px;
}
.main_screen_img{
	width: 100%;
}
.main_screen_text{
	font-size: 16px;
	width: 407px;
	font-family: 'Lato-Regular', sans-serif;
	margin-top: 30px;
	margin-bottom: 30px;
}
.main_screen_link{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #0C0C0C;
	color: #fff;
	border-radius: 25px;
	width: 237px;
	height: 50px;
	font-family: 'Lato-Regular', sans-serif;
	font-size: 16px;
}
.main_screen_link:hover{
	background-color: #5a5959;
}

/*Секция услуги*/
.services_content{
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
}
/*.services_content_left{
	width: 45%;
}*/
.services_img{
	width: 45%;
}
.services_links{
	width: 604px;
	height: 484px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}
.services_link{
	border: 2px solid #F6C5CD;
	border-radius: 25px;
	padding: 20px 22px;
	margin: 7px;
}
.services_link:hover, .faq-title:hover{
	color: #F5CFC7;
}
.span_number{
	color: #F5CFC7;
	font-size: 16px;
	font-family: 'Comfortaa-Bold';
}
.services_link_title{
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 18px;
	text-transform: uppercase;
}
.services_link_text{
	font-family: 'Lato-Regular', sans-serif;
	font-size: 16px;
}

/* Вопросы */

.faq {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.faq .span_number{
	font-size: 20px;
	position: absolute;
	left: 0;
}
.faq-item {
	width: 576px;
    margin-bottom: 50px;
}
.faq-title {
	text-transform: uppercase;
    display: block;
    padding: 10px 10px 10px 54px;
    position: relative;
    font-size: 20px;
    cursor: pointer;
    position: relative;
    transition: background .2s ease-out;
}

.faq-title:after {
    content: "";
    display: block;

    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: #F5CFC7 transparent transparent transparent;

    position: absolute;
    top: 50%;
    right: 15px;

    transform: translateY(-50%);
}

.faq-input {
    width: 0;
    height: 0;

    -webkit-appearance: none;
    appearance: none;

    position: absolute;
    display: flex;k
}

.faq-input:checked ~ .faq-title:after {
    border-style: solid;
    border-width: 0 5px 8px 5px;
    border-color: transparent transparent #F5CFC7 transparent;
}

.faq-input:checked ~ .faq-text {
    display: block;
}

.faq-text {
    display: none;
    padding: 10px 15px;
    font-size: 16px;
    font-family: 'Lato-Regular', sans-serif;
}
.faq-text p{
	padding-left: 54px;
}


/*Подвал*/
footer{
	margin-top: 200px;
	margin-bottom: 125px;
}
footer h2{
	margin-bottom: 50px;
}
.footer_content{
	display: flex;
	justify-content: space-between;
}
.footer_content li{
	font-family: 'Lato-Regular', sans-serif;
	font-size: 16px;
	margin-bottom: 20px;
}
.footer_content li span{
	font-family: 'Lato-Bold', sans-serif;
	font-weight: bold;
}


/*мероприятия*/
.events{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.events_card{
	display: block;
	margin-top: 50px;
	transition: 0.3s;
}
.events_card:hover{
	transform: scale(1.01);
}

.events_page{
	margin-top: 50px;
	display: flex;
}
.events_page p{
	margin-left: 20px;
	margin-bottom: 40px;
}


/*расписание*/
.shedule p{
	font-family: 'Comfortaa-Bold';
	font-size: 20px;
	text-transform: uppercase;
	margin-top: 50px;
	margin-bottom: 50px;
	width: 55%;
}